# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large files
backend/models/
backend/enrolled_audio/
backend/prepared_data/
backend/student_dqn.keras
